<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataPath" value="data"/>
    <add key ="llvmPath" value="D:\Prabir\Documents\Projects\llvmsharp\output"/>
    <add key ="lscPath" value="D:\Prabir\Documents\Projects\llvmsharp\output"/>
  </appSettings>
</configuration>